body {
    background-color: #FFFFFF;}

.page-header: {}
.site-nav {color: #2E2F42;}
.site-nav:hover {color: #4D5AE5}
.site-nav:focus {color: #434455;}
.contacts {color: #2E2F42;}
.contacts:hover {color: #4D5AE5}
.contacts:focus {color: #434455;}
