:root {
--first-logo-color: #4D5AE5;
--navigation-color: #2E2F42;
--contacts-color: #434455;
--first-title-color: #FFFFFF;
--second-title-color: #2E2F42;
--first-btn-color: #ffffff;
--second-btn-color: #E7E9FC;
--main-text-color: #434455;
--footer-text-color: #E7E9FC;
--accent-color: #4D5AE5;
--btn-focur-color: #404BBF;
--second-background-color: #F4F4FD;
}

body {
    background-color: var(--first-title-color);
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    color: var(--main-text-color);
}

.list {list-style: none}
.link {text-decoration: none;}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Logo */

.logo-first-part {
    color: var(--first-logo-color);
    width: 44px;
    height: 24px;
    font-family: 'Raleway' 'sans-serif';
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
    letter-spacing: 0.03em;
}
.logo-second-part {color: var(--navigation-color);}

/* Navigation */


.header-list .link {
    color: var(--navigation-color);
    width: 48px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
}
.header-list .link:hover {color: var(--main-text-color)}
.header-list .link:focus {color: var(--accent-color);}


.contacts .link {
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
color: var(--contacts-color);}
.contacts .link:hover {color: var(--accent-color)}

/* Tittle in the center */

.title-title {
width: 492px;
height: 120px;
font-weight: 600;
font-size: 56px;
line-height: calc(60/56);
text-align: center;
letter-spacing: 0.02em;
color: var(--first-title-color);
background-color: var(--navigation-color);
}

/* Button */

.btn-primary {
    width: 106px;
    height: 19px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(19/16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--first-btn-color);
    background-color: var(--accent-color);
    cursor: pointer;

    padding: 16px 32px;
    gap: 10px;

    width: 170px;
    height: 51px;
    left: 635px;
    top: 432px;

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.btn-secondary {
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--accent-color);
}

.btn:hover {background-color: var(--first-logo-color);}
.btn:focus {background-color: var(--btn-focur-color);}
.btn-secondary:hover {color: var(--first-btn-color); background-color: var(--first-logo-color)}
.btn-secondary:focus {color: var(--first-btn-color); background-color: var(--btn-focur-color);}

/* H2 titles */
.company-title .pictures-title .team-title {
width: 322px;
height: 40px;
left: 559px;
top: 1019px;
font-weight: 600;
font-size: 36px;
line-height: calc(40/36);
text-align: center;
letter-spacing: 0.02em;
color: var(--second-title-color);}

/* Sections with a short description */

.company-paragraph-title {
    width: 264px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}
.company-paragraph {
    width: 264px;
    height: 72px;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}


.team {
    background-color: var(--second-background-color);
}

.team-member-name {
    width: 135px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24/20);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}
.team-paragraph {
    width: 128px;
    height: 24px;
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    letter-spacing: 0.02em;
    color: var (--main-text-color)
}

.service-title {
    width: 291px;
    height: 24px;
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}
.service-type{
    width: 30px;
    height: 24px;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.second-picture-description {
    width: 296px;
    height: 96px;
    left: 32px;
    top: 40px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--second-background-color);
}
.footer {
    background-color: var(--navigation-color);
}
.footer-logo-second-part {
    color: var(--second-background-color);
}
.footer-paragraph {
    width: 264px;
    height: 72px;
    left: 156px;
    top: 2421px;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
}
